
<html>
<head>
  <title>Life Expectancy Lab</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <h1>Life Expectancy Lab - William Fuchs</h1>

  <div id="line_graph_all">
    {% include 'line_graph.svg' %}
  </div>

  <div>
    <form action="/year" method="GET">
      <label for="year">Choose a year:</label><br>
      <select name="year" id="year_select">
        {% for year in years %}
        <option value="{{year}}">{{year}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    <form>
  </div>

  <footer>
    All data from <a href= "this link" > The World Bank</a>.
  </footer>
</body>
</html>
